@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: #ffffff;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}

.bg-grid-pattern {
  background-image: 
    linear-gradient(to right, rgba(139, 115, 85, 0.15) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(139, 115, 85, 0.15) 1px, transparent 1px);
  background-size: 30px 30px;
}
